@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: pink;
}

.intro {
    font-size: 50px;
    text-align: center
}

li, a, button {
    font-family: "Bebas Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(230, 164, 236);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}


.nav_links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: deeppink;
}

button {
    padding: 9px 25px;
    background-color: rgba(215, 21, 197, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(247, 104, 234, 0.8);
}